body {
  padding: 20px;
  background: #ececec;
  font-family: 'system-ui'; 
}

.header {
  padding: 10px;
  font-size: 150%;
  font-family: 'JetBrainsMono Medium'; 
  text-align: center;
}

.toc-item {
  margin: auto;
  max-width: 500px;
  padding: 12px;
}

.toc-item a {
  font-size: 120%;
  color: black;
}

.toc-date {
  font-family: 'JetBrainsMono Regular'; 
  font-size: 100%;
  margin-bottom: 0.2em;
}

.toc-date-publish {
  float: left;
  text-align: left;
  font-family: 'JetBrainsMono Regular'; 
  font-size: 100%;
}
.toc-date-update {
  text-align: right;
  font-family: 'JetBrainsMono Regular'; 
  font-size: 80%;
}

.toc-info {
    text-align: left;
    font-size: 100%;
    margin-top: 0.7em;
}

code {
  font-family: 'JetBrainsMono Light'; 
  font-size: 90%;
  /* background: #ffffe0; */
}

